* {
  padding: 0;
  margin: 0; }

.header {
  display: flex;
  flex-direction: row; }

.header img {
  width: 80px;
  height: 80px;
  padding: 15px;
  border-radius: 50%; }

.header h1 {
  color: #F02B4C;
  font-family: "Poppins", sans-serif;
  padding-top: 20px; }

.header p {
  color: #F02B4C;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 25px;
  font-family: "Poppins", sans-serif;
  animation-name: parrafoMov;
  animation-duration: 5s; }

@keyframes parrafoMov {
  10% {
    font-size: 5, 5px; }
  20% {
    font-size: 6, 5px; }
  30% {
    font-size: 7, 5px; }
  40% {
    font-size: 8, 5px; }
  50% {
    font-size: 10px; }
  60% {
    font-size: 11, 5px; }
  70% {
    font-size: 13.5px; }
  80% {
    font-size: 15, 5px; }
  90% {
    font-size: 17, 5px; }
  100% {
    font-size: 20px; } }

.container_main {
  font-family: "Poppins", sans-serif;
  color: #F02B4C;
  height: auto;
  padding: 100px;
  background-image: linear-gradient(to top, pink, white); }

.navbar-nav a:hover {
  background-color: #c4e4e3;
  border-radius: 5px;
  height: 50px; }

.navbar-nav a {
  color: #F02B4C;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  padding: 20px;
  font-size: 1.5em;
  color: #F02B4C; }

#navbarNavAltMarkup > div > a.nav-link.active {
  color: #F02B4C; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-size: 1.5em; }

.navbar-expand-lg .navbar-collapse {
  justify-content: center; }

.navbar-nav {
  height: 60px; }

.container-fluid {
  width: 1300px;
  padding-left: 100px; }

.linea {
  border-top: 1px solid #ec566f;
  height: 2px;
  max-width: 1200px;
  padding: 0;
  margin: 20px auto 0 auto; }

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  color: #566681;
  padding-top: 50px; }

.descripcion h2 {
  padding: 16px;
  color: #fd6d86; }

.descripcion p {
  width: 700px; }

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

.carousel-inner {
  justify-content: center;
  width: 750px; }

.carousel-inner img {
  width: 100%; }

.section3 h3 {
  font-family: "Poppins", sans-serif, italic;
  align-content: center;
  height: 180px;
  text-align: center;
  font-size: 40px;
  color: #F02B4C; }

@media (max-width: 375px) {
  .container_main {
    font-family: "Poppins", sans-serif;
    color: #F02B4C;
    height: auto;
    padding: 10px;
    background-image: linear-gradient(to top, pink, white); }
  .header {
    justify-content: space-around; }
  .header p {
    margin-left: 1rem; }
    .header p h1 {
      font-size: 30px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
    font-size: .8em; }
  .section1 {
    margin: 0 auto; }
  .descripcion p {
    width: auto; }
  .section2 {
    height: 300px; }
  .carousel-inner img {
    height: 300px;
    width: 100%; }
  .section3 h3 {
    font-family: "Poppins", sans-serif;
    align-content: center;
    height: 180px;
    text-align: center;
    font-size: 40px;
    color: #F02B4C; } }

@media (max-width: 425px) {
  .container_main {
    font-family: "Poppins", sans-serif;
    color: #F02B4C;
    height: auto;
    padding: 10px;
    background-image: linear-gradient(to top, pink, white); }
  .header {
    justify-content: space-around; }
  .header p {
    margin-left: 1rem; }
    .header p h1 {
      font-size: 30px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
    font-size: .8em; }
  .section1 {
    margin: 0 auto; }
  .descripcion p {
    width: auto; }
  .section2 {
    height: 300px; }
  .carousel-inner img {
    height: 300px;
    width: 100%; }
  .section3 h3 {
    font-family: "Poppins", sans-serif;
    align-content: center;
    height: 180px;
    text-align: center;
    font-size: 40px;
    color: #F02B4C; } }

@media (max-width: 768px) {
  .container_main {
    font-family: "Poppins", sans-serif;
    color: #F02B4C;
    height: auto;
    padding: 10px;
    background-image: linear-gradient(to top, pink, white); }
  .header {
    justify-content: space-around; }
  .header p {
    margin-left: 1rem; }
    .header p h1 {
      font-size: 30px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
    font-size: .8em; }
  .section1 {
    margin: 0 auto; }
  .descripcion p {
    width: 100% auto; }
  .section2 {
    height: 300px; }
  .carousel-inner img {
    height: 300px;
    width: 100%; }
  .section3 h3 {
    font-family: "Poppins", sans-serif;
    align-content: center;
    height: 180px;
    text-align: center;
    font-size: 40px;
    color: #F02B4C; } }

.footer {
  height: 240px;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: row; }

.footer redes {
  display: flex;
  flex-direction: row; }

.redes {
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center; }

.titulo h3 {
  font-family: "Poppins", sans-serif; }

.h4 {
  padding-top: 50px; }

.ancho a {
  color: #566681;
  padding: 25px; }

.face, .twitter, .instagram {
  display: flex;
  flex-direction: row;
  color: #566681;
  text-decoration: none;
  list-style-type: none; }

.twitter {
  color: #566681;
  text-decoration: none;
  list-style-type: none; }

.instagram {
  color: #566681;
  text-decoration: none;
  list-style-type: none; }

.ancho {
  width: 120px;
  margin: 10px;
  text-decoration: none;
  border-color: #e30f32;
  border-radius: 5px; }

@media (max-width: 375px) {
  .footer {
    height: 300px; }
  .redes {
    padding-right: 3rem;
    align-items: flex-end; } }

.consulta {
  width: auto; }

@media (max-width: 425px) {
  .footer {
    height: 300px; }
  .redes {
    padding-right: 3rem;
    align-items: flex-end; } }

.linea {
  border-top: 1px solid #ec566f;
  height: 2px;
  max-width: 1200px;
  padding: 0;
  margin: 20px auto 0 auto; }

.galeria {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  height: auto;
  width: auto; }

.imagenesGaleria img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 5px; }

.imagenesGaleria:hover {
  transition: .3s;
  filter: grayscale(0%); }

.imagenesGaleria {
  filter: grayscale(100%); }

.textoPrincipal h2 {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  color: #566681; }

.usos p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #F02B4C;
  max-width: 360px; }

.usos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  align-items: center;
  align-content: center; }

@media (max-width: 320px) {
  .imagenesGaleria img {
    width: 80%; } }

@media (max-width: 375px) {
  .galeria {
    margin-top: 100px;
    height: auto; }
    .galeria h2 {
      width: auto; }
  .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px; }
  .usos p {
    width: 300px; }
  .container_galeria {
    margin-top: 140px;
    height: auto; } }

.imagenesGaleria img {
  width: auto; }

@media (max-width: 425px) {
  .galeria {
    margin-top: 100px;
    height: auto; }
    .galeria h2 {
      width: 240px; }
  .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px; }
  .usos p {
    width: 300px; }
  .container_galeria {
    margin-top: 140px;
    height: auto; } }

@media (max-width: 768px) {
  .galeria {
    margin-top: 100px;
    height: auto; }
    .galeria h2 {
      width: 240px; }
  .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px; }
  .usos p {
    width: 300px; }
  .container_galeria {
    margin-top: 140px;
    height: auto;
    width: auto; } }

@media (max-width: 1024px) {
  .galeria {
    margin-top: 100px;
    height: auto; }
    .galeria h2 {
      width: 240px; }
  .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px; }
  .usos p {
    width: 300px; }
  .container_galeria {
    margin-top: 140px;
    height: auto; } }

.linea {
  border-top: 1px solid #ec566f;
  height: 2px;
  max-width: 1200px;
  padding: 0;
  margin: 20px auto 0 auto; }

.container_formulario {
  padding-top: 100px; }

.row {
  width: auto; }

.historia {
  display: flex;
  justify-content: center; }

.historia h2 {
  width: 850px;
  font-size: 25px;
  color: #566681; }

.linea {
  border-top: 1px solid #ec566f;
  height: 2px;
  max-width: 1200px;
  padding: 0;
  margin: 20px auto 0 auto; }

.presentacion {
  display: flex;
  flex-direction: row;
  height: 800px;
  padding-top: 50px; }

.videoQuienesSomos {
  padding-left: 200px; }

.videoQuienesSomos video {
  width: 350px;
  height: 350px; }

@media (max-width: 375px) {
  .linea {
    margin-top: 90px; } }

.presentacion {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: center; }

.historia h2 {
  width: auto;
  font-size: auto;
  text-align: justify; }

.videoQuienesSomos {
  width: auto;
  text-align: center;
  padding-left: 0px; }

.h2 {
  font-size: 5px;
  color: #F02B4C;
  font-family: "Poppins", sans-serif, italic;
  padding: 3rem; }

.main {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: space-evenly; }

.main2 {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: space-evenly; }

.main3 {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: space-evenly; }

.main4 {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: space-evenly; }

.card {
  width: 400px;
  height: 400px;
  margin: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }

.linea {
  border-top: 1px solid #ec566f;
  height: 2px;
  max-width: 1200px;
  padding: 0;
  margin: 20px auto 0 auto; }

@media (max-width: 375px) {
  .card {
    max-width: 350px; }
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 70px; }
  .main2 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .main3 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .main4 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .linea {
    margin-top: 90px; } }

@media (max-width: 425px) {
  .card {
    max-width: 350px; }
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 70px; }
  .main2 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .main3 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .main4 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .linea {
    margin-top: 90px; } }

@media (max-width: 768px) {
  .card {
    max-width: 350px; }
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 70px; }
  .main2 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .main3 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .main4 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center; }
  .linea {
    margin-top: 90px; } }
