.linea {
    border-top: 1px solid rgb(236, 86, 111);
    height: 2px;
    max-width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
    .container_formulario{
//     display: flex;
//     flex-direction: row;
       padding-top: 100px;
 }
 .row{
    width: auto;
 }
// .col-md-6{
//     padding-left: 50px;
// }

// @media (max-width: 375px){

//   .container_formulario{
//     display: flex;
//     flex-direction: column;

//   } 
  
//   .iframe{
//     width: 360px;
//   }
        
// }
// @media (max-width: 425px){

//     .container_formulario{
//       display: flex;
//       flex-direction: column;
  
//     }  
          
//   }
//   @media (max-width: 768px){

//     .container_formulario{
//       display: flex;
//       flex-direction: column;
  
//     }  
          
//   }
//   @media (max-width: 1024px){

//     .container_formulario{
//       display: flex;
//       flex-direction: column;
  
//     }  
          
//   }
      
