.formulario {
    display: flex;
    align-content: center;
    margin: 100px;
    width: 425px;
    height: 450px;
    flex-direction: row;
}
.formulario label {
    margin: 20px;
    display: inline-block;
    vertical-align: middle;
  
}
.formulario textarea{
    margin: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
}
.formulario form{
    display: flex;
    flex-direction: row;
    height: 1000px;
}

.video{
    
    padding-top:60px;
    padding-bottom:30px;
    padding-left: 60px;
}
@media(max-width:375px){
    .formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
    margin-top: 70px;
    margin-left: 0px;
        width: 375px;
        height: 950px;}
    .formulario form{
            display: flex;
            flex-direction: column;
            align-content: flex-start ;
        }
        
        
        label.items{
        width:350px ;
            align-items:flex-start;
            display: flex;
            flex-direction: column;
            margin-top: 100px;
    }
    .area{
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        align-content: auto;
        width: 360px;
        padding-left: 120px;
    }
     textarea{
width: 220px;
align-content: auto;

    }
    .video{
    
        padding-top:60px;
        padding-bottom:30px;
        padding-left: 10px;
    }
}
    
        

    
