.footer  {
    height: 180px;
    background-color: pink,
}

.footer redes {
    display: flex;
    flex-direction: row;
}

.redes {
    float: left;
    display: flex;
    flex-direction: column;
}

.ancho a {
    color: rgb(83, 27, 35);
}

.face {
    display: flex;
    flex-direction: row;
}

.twitter {
    @extend .face;
    color: rgb(116, 226, 14);

}

.instagram {
    @extend .face;
    color: aquamarine;
}

.ancho {
    width: 120px;
    margin: 10px;
    background-color: rgb(128, 103, 107);
    border-color: rgb(227, 15, 50);
    border-radius: 5px;
}
