.linea {
    border-top: 1px solid rgb(236, 86, 111);
    height: 2px;
    max-width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

.galeria {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    height: auto;
    width: auto;
}
.imagenesGaleria img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
}

.imagenesGaleria:hover {
    transition: .3s;
    filter: grayscale(0%);
    transform: scale(1.5);
}

.imagenesGaleria {
    filter: grayscale(100%);
}

.textoPrincipal h2 {
    font-family: $familiaFuente;
    padding: 20px;
    color:$colorFuenteDos;
}

.usos p {
    font-family: $familiaFuente;
    font-size: 20px;
    padding: 20px;
    color:$colorFuente ;
    max-width: 360px;
}

.usos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    align-content: center;
}
@media all and  (max-width: 320px){
         img{
     width : auto ;
}
}
@media all and (max-width: 375px){
    img {
        width:300px;
     }
    .galeria {
       margin-top: 100px;
       height: auto;
        h2{
            width: 340px;
         }
    }
    .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px;
}
   .usos p{
    width: 300px;
}
   .container_galeria{
    margin-top: 140px; 
    height: auto;
    }
   
.imagenesGaleria:hover {
     transition: .3s;
     filter: grayscale(0%);
     transform: scale(1);
}
}
 .imagenesGaleria {
   filter: grayscale(100%);
 }

@media (max-width: 425px){
    .galeria {
       margin-top: 100px;
       height: auto;
        h2{
            width: 240px;

        }
    }
    .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px;
}
    .usos p{
    width: 300px;
}
    .container_galeria{
    margin-top: 140px;
    height: auto;
    }
}
@media (max-width: 768px){
    .galeria {
       margin-top: 100px;
       height: auto;
        h2{
            width: 240px;

        }
    }
 
    .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px;
}
    .usos p{
    width: 300px;
}
    .container_galeria{
    margin-top: 140px;
    height: auto;
    width: auto;
    }
}
@media (max-width: 1024px){
    .galeria {
       margin-top: 100px;
       height: auto;
        h2{
            width: 240px;

        }
    }
 
    .textoPrincipal h2 {
    width: 340px;
    margin-top: 10px;
}
   .usos p{
    width: 300px;
}
.container_galeria{
    margin-top: 140px;
    height: auto;
    }
}
