.galeria {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    height: auto;
    width: auto;

}

.textoPrincipal h2 {
    font-family: 'Indie Flower', italic;
    padding: 20px;
}

.usos p {
    font-family: 'Indie Flower', italic;
    font-size: 20px;
    padding: 20px;
    color: rgb(235, 80, 106);
    max-width: 360px;
}

.usos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    align-content: center;
}
