$familiaFuentes:''Indie Flower', italic' ;

.galeria {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    height: auto;
    width: auto;

}
.imagenesGaleria img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
}

.imagenesGaleria:hover {
    transition: .3s;
    filter: grayscale(0%);
    transform: scale(1.5);
}

.imagenesGaleria {
    filter: grayscale(100%);
}

.textoPrincipal h2 {
    
    font-family: $familiaFuentes;
    padding: 20px;
    color:rgb(240, 43, 76);
}

.usos p {
    font-family: $familiaFuentes;
    font-size: 20px;
    padding: 20px;
    color:rgb(240, 43, 76) ;
    max-width: 360px;
}

.usos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    align-content: center;
}
.usos button{
    animation-name: btn;
}
@keyframes btn{
    from {left: 0px;}
  to {left: 200px;}

}

@media (max-width: 375px){
    .galeria {
       margin-top: 120px;
        h2{
            width: 240px;
        }
    }
    @keyframes btn{
        from {left: 0px;}
      to {left: 0px;}
      }
     .button {
        background-color: rgb(113, 195, 168);
        color: rgb(32, 97, 97);
    
} 
.textoPrincipal h2 {
    width: 340px;
}
.usos p{
    width: 300px;
}
}