
.header {
    display: flex;
    flex-direction: row;
    width: auto 100%;
}
    

.header img {
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 50%;}

 .header h1 {
   color: $colorFuente;
    font-family:$familiaFuente;
    padding-top: 20px;}
    
.header  p {
    color: $colorFuente;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 25px;
    font-family:$familiaFuente;
    animation-name: parrafoMov;
    animation-duration: 5s;
}
.container_main{
    width: auto 100%;
}

@keyframes parrafoMov{
    10% {
        font-size: 5, 5px;
    }

    20% {
        font-size: 6, 5px;
    }

    30% {
        font-size: 7, 5px;
    }

    40% {
        font-size: 8, 5px;
    }

    50% {
        font-size: 10px;
    }

    60% {
        font-size: 11, 5px;
    }

    70% {
        font-size: 13.5px;
    }

    80% {
        font-size: 15, 5px;
    }

    90% {
        font-size: 17, 5px;
    }

    100% {
        font-size: 20px;
    }
}
@media (max-width: 320px){
    @keyframes parrafoMov{
        0% {font-size: 10px;}
        100%{font-size: 10px;}
    }
}