@mixin medidas($width,$heigt){
    width: $width;
    height: $heigt;
}
.container_main {
    font-family:$familiaFuente ;
    color: $colorFuente;
    height: auto;
    padding: 100px;
    background-image: linear-gradient(to top, pink,white);
}
 
.navbar-nav a:hover {
    background-color: #c4e4e3;
    border-radius: 5px;
    height: 50px;}
.navbar-nav a {
    color: $colorFuente;
    font-family: $familiaFuente;
    text-decoration: none;
}
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link{
    padding: 20px;
    font-size: 1.5em;
    color:$colorFuente;
}
#navbarNavAltMarkup > div > a.nav-link.active{
    color:$colorFuente;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 20px;
    font-size: 1.5em;
    
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}

.navbar-nav {
    height: 60px;
    }
.container-fluid{
    width: 1300px;
    padding-left: 100px;
}
.linea {
    border-top: 1px solid rgb(236, 86, 111);
    height: 2px;
    max-width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
}
  
 .descripcion {
            display: map-get($estilos,display );
            flex-direction: map-get($estilos,flex-direction);
            justify-content: map-get($estilos,justify-content);
            align-content: map-get($estilos,align-content);
            align-items: map-get($estilos,align-items);
            font-family:$familiaFuente;
            font-size: larger;
            color:$colorFuenteDos;
            padding-top: 50px;
        }
.descripcion h2{
           padding: 16px;
           color: #fd6d86;
        }
.descripcion p{
            width: 700px;
        }
.carousel{
            display: map-get($estilos,display );
            flex-direction: map-get($estilos,flex-direction);
            justify-content: map-get($estilos,justify-content);
            align-content: map-get($estilos,align-content);
            align-items: map-get($estilos,align-items);
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
.carousel-inner{
            justify-content: center;
            width: 750px;

        }
.carousel-inner img{
            width: 100%;
        }  

        .section3 h3 {
    font-family:$familiaFuente, italic;
    align-content: center;
    height: 180px;
    text-align: center;
    font-size: 40px;
    color:$colorFuente;
  
}

@media (max-width: 375px) {
.container_main {
    font-family:$familiaFuente ;
    color: $colorFuente;
    height: auto;
    padding: 10px;
    background-image: linear-gradient(to top, pink,white);
}
.header{
    justify-content: space-around;
} 
.header p{
margin-left: 1rem;
    h1{
        font-size: 30px;
    }
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px;
    font-size: .8em;
   }
.section1{
    margin: 0 auto;
}
.descripcion p{
    width: auto;
    
}
  
.section2 {
    height: 300px;
}
.carousel-inner img{
    
    height: 300px;
    width: 100%;
}

.section3 h3 {
        font-family:$familiaFuente;
        align-content: center;
        height: 180px;
        text-align: center;
        font-size: 40px;
        color:$colorFuente;
       
}   

}
 @media (max-width: 425px) {
 .container_main {
                font-family:$familiaFuente ;
                color: $colorFuente;
                height: auto;
                padding: 10px;
                background-image: linear-gradient(to top, pink,white);
            }
.header{
                justify-content: space-around;
            } 
.header p{
            margin-left: 1rem;
                h1{
                    font-size: 30px;
                }
            }
.navbar-expand-lg .navbar-nav .nav-link{
                padding: 10px;
                font-size: .8em;
               }
.section1{
                margin: 0 auto;
            }
.descripcion p{
                width: auto;
               
            }
              
.section2 {
                height: 300px;
  }
 .carousel-inner img{
                
                height: 300px;
                width: 100%;
     
            
 }
            
 .section3 h3 {
                    font-family:$familiaFuente;
                    align-content: center;
                    height: 180px;
                    text-align: center;
                    font-size: 40px;
                    color:$colorFuente;
                   
            }   
           
                    }

@media (max-width: 768px) {
.container_main {
                    font-family:$familiaFuente ;
                    color: $colorFuente;
                    height: auto;
                    padding: 10px;
                    background-image: linear-gradient(to top, pink,white);
                }
.header{
       justify-content: space-around;
      } 
 .header p{
        margin-left: 1rem;
         h1{ 
        font-size: 30px;
            }
      }
 .navbar-expand-lg .navbar-nav .nav-link{
      padding: 10px;
     font-size: .8em;
      }
.section1{
      margin: 0 auto;
  }
 .descripcion p{
     width: 100% auto;
                       
 }
                          
 .section2 {
    height: 300px;
     }
 .carousel-inner img{
                            
    height: 300px;
    width: 100%;
                            
                        
    }
                        
.section3 h3 {
    font-family:$familiaFuente;
    align-content: center;
    height: 180px;
    text-align: center;
    font-size: 40px;
    color:$colorFuente;
                               
  }   
  }


