.tabla{
    margin-left: 20px;
    color:rgb(18, 92, 67)
} img{
    border-radius: 5px;
    table {
        margin: 0 auto;
    }

}





@media(max-width: 375px) {
    .tabla {
        display: flex;
        flex-direction: columns ;  

    }
      
    tr{
        width: 115px;
    }
       
    
    td{
        width: 115px;
    }
    img{
        width: 150px;
    }
}
.tabla{
    margin-top: 80px;
    
}
