.historia h2{
    width: 850px;
    font-size: 35px;
}


@media (max-width: 375px){
    .historia  h2{
       margin-top: 70px;
        width: 340px;
        font-size: 20px;
        text-align: justify;
    }
    
} 