.historia{
  display: flex;
  justify-content: center;
}

.historia h2{
    width: 850px;
    font-size: 25px;
    color: $colorFuenteDos;
    padding: 5px;
}
.linea {
    border-top: 1px solid rgb(236, 86, 111);
    height: 2px;
    max-width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
.presentacion{
    display: flex;
    flex-direction: row;
    height: 800px;
   padding-top: 50px;
  }

.videoQuienesSomos{
    padding-left: 200px;
  }
.videoQuienesSomos video{
    width: 350px;
    height: 350px;
  }
 
  

@media (max-width: 375px){
  .linea{
    margin-top: 90px;
}
} 
  .presentacion{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    // padding-top: 200px;
    align-items: center;
  } 
.historia  h2{
      //  margin-top: 70px;
        width: auto;
        font-size: auto;
        text-align: justify;
    }
.videoQuienesSomos{
      width: auto;
      text-align: center;
      padding-left: 0px;
    }

 