$colorFuente: #F02B4C;
$familiaFuente:'Poppins', sans-serif;
$estilos:(
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-content: center,
    align-items: center,
);
$colorFuenteDos :#566681